@use '@/styles/breakpoints';

$max-content-width: 1312px;
$padding-desk: 64px;
$padding-mob: 24px;
$footer-height-desktop: 542px;
$footer-height-mobile: 1322px;
$header-height-desktop: 72px;
$header-height-mobile: 48px;

.main {
  position: relative;

  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: $max-content-width;
  min-height: calc(100vh - $header-height-desktop);
  margin: 0 auto;
  padding: $padding-desk;

  @media (width <= breakpoints.$mobile) {
    min-height: calc(100vh - $header-height-mobile);
    padding: $padding-mob;
  }
}
