@use '@/styles/breakpoints';

.root {
  position: relative;

  display: flex;
  flex-direction: column;

  width: fit-content;
  min-width: 240px;
  min-height: 30px;

  &:focus-visible {
    border-radius: 5px;
    outline: 2px solid var(--color-info);
  }

  @media (width <= breakpoints.$mobile) {
    min-width: 210px;
    min-height: 20px;
  }
}

.firstLine {
  position: absolute;
  top: -12px;
  left: 0;

  width: fit-content;

  white-space: nowrap;

  @media (width <= breakpoints.$mobile) {
    top: -14px;
  }
}

.secondLine {
  position: absolute;
  top: 11px;
  left: -3px;

  color: var(--color-placeholder) !important;
  white-space: nowrap;

  @media (width <= breakpoints.$mobile) {
    top: 6px;
  }
}

.primary {
  color: var(--color-dark);
}

.secondary {
  color: var(--color-light) !important;
}
