.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;

  width: 100%;
  min-width: 320px;
  max-width: 900px;
}

.submitButton {
  align-self: center !important;
}
