@use '@/styles/breakpoints';

.root {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: breakpoints.$header-height-desktop;

  background-color: var(--color-light);
  box-shadow: var(--color-shadow);

  @media (width <= breakpoints.$mobile) {
    height: breakpoints.$header-height-mobile;
  }
}

.container {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: breakpoints.$max-content-width;
  padding: breakpoints.$header-padding-desktop;

  @media (width <= breakpoints.$mobile) {
    padding: breakpoints.$header-padding-mobile;
  }
}

.navWrapper {
  display: flex;
  gap: 32px;
  align-items: center;

  @media (width <= breakpoints.$mobile) {
    gap: 16px;
  }
}
