.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formsWrapper {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 320px;
  max-width: 500px;
}
