@use '@/styles/breakpoints';

$cell-padding-desk: 10px 20px;
$cell-padding-mob: 6px 16px;

.headCell {
  align-items: center;

  font-family: var(--font-family-second), sans-serif;
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-l);
  text-align: center;

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}

.bodyCell {
  font-size: var(--font-size-xs);
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xl);
  text-align: left;

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}

.headCell,
.bodyCell {
  padding: $cell-padding-desk;
  vertical-align: middle;
  border: var(--color-dark) solid 1px;

  @media (width <= breakpoints.$mobile) {
    padding: $cell-padding-mob;
  }
}

.table {
  position: relative;

  overflow: hidden;
  border-collapse: collapse;

  width: 100%;

  text-overflow: ellipsis;
  white-space: nowrap;

  border: var(--color-dark) solid 1px;
  box-shadow: var(--color-shadow);
}
