.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
}

.cover {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: var(--color-shadow);
}

.description {
  all: unset;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;

  text-decoration: none;
}

.readMoreIcon {
  width: 10px;
  height: 10px;
}

.readMore {
  display: flex;
  align-items: center;
  font-weight: var(--font-weight-bold) !important;
  text-decoration: none !important;
}
