@use '@/styles/breakpoints';

$avatar-small-desktop: 40px;
$avatar-large-desktop: 700px;
$avatar-small-mobile: 30px;
$avatar-large-mobile: 300px;

.container {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  aspect-ratio: 1/1;

  background-color: var(--color-light);
}

.small {
  min-width: $avatar-small-desktop;
  max-width: $avatar-small-desktop;
  min-height: $avatar-small-desktop;
  max-height: $avatar-small-desktop;

  @media (width <= breakpoints.$mobile) {
    min-width: $avatar-small-mobile;
    max-width: $avatar-small-mobile;
    min-height: $avatar-small-mobile;
    max-height: $avatar-small-mobile;
  }
}

.large {
  min-width: $avatar-large-desktop;
  max-width: $avatar-large-desktop;
  min-height: $avatar-large-desktop;
  max-height: $avatar-large-desktop;

  @media (width <= breakpoints.$mobile) {
    min-width: $avatar-large-mobile;
    max-width: $avatar-large-mobile;
    min-height: $avatar-large-mobile;
    max-height: $avatar-large-mobile;
  }
}

.image {
  display: flex;
  object-fit: cover;
  object-position: center;
}

.canvas {
  width: 100%;
  height: 100%;
}
