@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

$width: 500px;
$gap-desktop: 16px;
$gap-mobile: 12px;
$padding-desktop: 24px;
$padding-mobile: 16px;
$border-radius-desktop: 5px;
$border-radius-mobile: 5px;

@keyframes overlay-show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.overlay {
  position: fixed;
  z-index: 999;
  inset: 0;

  background-color: rgb(0 0 0 / 70%);

  animation: overlay-show 500ms cubic-bezier(0.16, 1, 0.3, 1);
}

.content {
  position: fixed;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  gap: $gap-desktop;

  width: $width;
  max-width: 90%;
  max-height: 85vh;
  padding: $padding-desktop;

  background-color: var(--color-light);
  border: 1px solid var(--color-dark);
  border-radius: $border-radius-desktop;
  box-shadow: var(--color-shadow);

  :focus-visible {
    outline: none;
  }

  @media (width <= breakpoints.$mobile) {
    gap: $gap-mobile;
    padding: $padding-mobile;
    border-radius: $border-radius-mobile;
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  @include animations.thumb-hover;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 32px;
  height: 32px;
  padding: 0;

  background: none;
  border: none;

  @media (width <= breakpoints.$mobile) {
    width: 24px;
    height: 24px;
  }
}

.trigger {
  position: static;
}
