@use '@/styles/breakpoints';

$header-height-mobile: breakpoints.$header-height-mobile;

.burgerButton {
  all: unset;

  cursor: pointer;

  position: relative;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;
}

.burgerMenu {
  position: absolute;

  display: block;

  width: 20px;
  height: 2px;

  background-color: var(--color-dark);

  &::before {
    content: '';

    position: absolute;
    transform: translateY(-8px);

    display: block;

    width: 20px;
    height: 2px;

    background-color: var(--color-dark);

    transition: transform 0.2s ease-in;
  }

  &::after {
    content: '';

    position: absolute;
    transform: translateY(8px);

    display: block;

    width: 20px;
    height: 2px;

    background-color: var(--color-dark);

    transition: transform 0.2s ease-in;
  }
}

.burgerMenuOpened {
  background-color: var(--color-light);

  &::before {
    transform: translateY(0) rotate(-45deg);
  }

  &::after {
    transform: translateY(0) rotate(45deg);
    width: 20px;
  }
}

.navbarContainer {
  position: fixed;
  z-index: 998;
  top: calc($header-height-mobile + 1px);
  left: 0;

  display: flex;

  width: 100vw;
  height: calc(100vh - $header-height-mobile - 1px);
}

.navbar {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 36px;

  height: 100%;
  padding: breakpoints.$content-padding-mobile;

  background-color: var(--color-light);
  box-shadow: var(--color-shadow);

  transition: all 0.6s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.navbarClosed {
  right: 100%;
  display: none;
  width: 0;
}

.navbarOpened {
  right: 0;
  width: 40%;
}

.navbarLeft {
  position: relative;
  left: 0;

  width: 0;

  background-color: var(--color-dark);

  transition: all 0.6s cubic-bezier(0.36, -0.01, 0, 0.77);
}

.navbarLeftClosed {
  width: 100%;
  opacity: 0;
}

.navbarLeftOpened {
  width: 60%;
  opacity: 0.5;
}
