:root {
  // primary
  --color-primary-100: #f0f1ff;
  --color-primary-300: #bbb0e4;
  --color-primary-500: #7e71b1;
  --color-primary-700: #573eb6;
  --color-primary-900: #464158;

  // second
  --color-second: #eea711;

  // light
  --color-light: #fff;

  // dark
  --color-dark: #000;

  // info
  --color-info: #397df6;

  // success
  --color-success: #14cc70;

  // danger
  --color-danger: #cc1439;

  // warning
  --color-warning: #d99000;
}
