@use '@/styles/breakpoints';

.title {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
}

.descriptionWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 900px;
  margin: 32px auto 0;

  @media (width <= breakpoints.$mobile) {
    margin-top: 16px;
  }
}

.description {
  display: flex;
  gap: 16px;
  align-items: center;
}
