@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

.cardImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: auto;
  height: 100%;

  object-fit: cover;

  transition:
    width,
    height 0.5s ease-out;

  @media (width <= breakpoints.$mobile) {
    min-height: 280px;
  }
}

.cardImageContainer {
  overflow: hidden;
  aspect-ratio: 4/3;
  border-radius: 5px;
  box-shadow: var(--color-shadow);
}

.card {
  position: relative;
  aspect-ratio: 5/2;
  max-width: 394px;

  &:hover {
    .cardImage {
      width: calc(100% + 20px);
      height: calc(100% + 20px);
    }
  }

  @include animations.bottom-line-hover;

  @media (width <= breakpoints.$mobile) {
    width: 95vw;
    min-width: 100%;
  }
}

.contentWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.title,
.author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.title {
  &:hover {
    color: var(--color-placeholder);
    text-decoration: underline;
  }
}

.author {
  max-width: 200px;
}

.date {
  white-space: nowrap;
}

.description {
  all: unset;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  text-decoration: none;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width <= breakpoints.$mobile) {
    gap: 8px;
  }
}

.bottomInfoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}

.notPublished {
  opacity: 0.5;
}

.notPublishedDescription {
  position: absolute;
  z-index: 1;
  top: 68%;
  left: 45%;
  transform-origin: center;
  transform: rotate(-35deg) translateX(-50%);

  padding: 0 8px !important;

  color: var(--color-danger) !important;
  white-space: nowrap;

  border: 1px solid var(--color-danger);
}
