@use '@/styles/breakpoints';

.cardImage {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  min-height: 380px;

  object-fit: cover;

  transition: all 0.5s ease-in;
}

.cardImageContainer {
  overflow: hidden;
  aspect-ratio: 1/1;
  width: fit-content;
  box-shadow: var(--color-shadow);
}

.card {
  position: relative;
  aspect-ratio: 5/2;
  max-width: 394px;

  &::after {
    content: '';

    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    width: 60%;
    height: 1px;

    background-image: linear-gradient(to right, rgb(0 0 0 / 0%), rgb(0 0 0 / 75%), rgb(0 0 0 / 0%));
    border: 0;

    transition: all 0.5s ease-in;
  }

  &:hover {
    &::after {
      width: 100%;
    }

    .cardImage {
      width: 110%;
      height: 110%;
    }
  }
}

.contentWrapper {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100%;
}

.title {
  transition: 0.2s;

  &:hover {
    color: var(--color-placeholder);
  }
}

.title,
.author {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.author {
  max-width: 200px;
}

.date {
  white-space: nowrap;
}

.description {
  all: unset;

  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  text-decoration: none;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width <= breakpoints.$mobile) {
    gap: 8px;
  }
}

.bottomInfoWrapper {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 8px;
}

.notPublished {
  opacity: 0.5;
}

.notPublishedDescription {
  position: absolute;
  z-index: 1;
  top: 68%;
  left: 45%;
  transform-origin: center;
  transform: rotate(-35deg) translateX(-50%);

  padding: 0 8px !important;

  color: var(--color-danger) !important;
  white-space: nowrap;

  border: 1px solid var(--color-danger);
}
