@use '@/styles/breakpoints';

$gap-desktop: 32px;
$gap-mobile: 16px;

.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-desktop;
  align-items: center;
  justify-content: center;
}

.formsWrapper {
  display: flex;
  flex-direction: column;
  gap: $gap-desktop;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-width: 320px;
  max-width: 500px;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $gap-mobile;
  justify-content: space-between;

  width: 100%;

  svg {
    max-width: 24px;
  }
}

.form {
  display: flex;
  align-items: center;
  width: calc((100% / 2) - ($gap-mobile / 2));
  min-width: fit-content;
}
