@use '@/styles/breakpoints';

.titleWithBackgroundWrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;

  width: 100%;
  padding: 32px;

  @media (width <= breakpoints.$mobile) {
    padding: 8px;
  }
}

.titleWithBackgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  background-size: cover;

  @media (width <= breakpoints.$mobile) {
    left: 50%;
    transform: translateX(-50%);
  }
}
