@use '@/styles/breakpoints';

$header-height-desktop: breakpoints.$header-height-desktop;
$header-height-mobile: breakpoints.$header-height-mobile;

.background {
  position: fixed;
  z-index: 999;
  top: $header-height-desktop;
  left: 0;

  width: 100vw;
  height: calc(100vh - $header-height-desktop);

  background-color: var(--color-light);

  @media (width <= breakpoints.$mobile) {
    top: $header-height-mobile + 1px;
    height: calc(100vh - $header-height-mobile);
  }
}

.loader {
  position: fixed;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: rotate(45deg) translateX(-50%);

  aspect-ratio: 1;
  width: 40px;

  border: 5px solid #ddd;
  border-radius: 50%;
}

.loader::before {
  content: '';

  position: absolute;
  inset: -5px;

  border: 5px solid var(--color-dark);
  border-radius: 50%;

  animation: l18 2s infinite linear;
}

@keyframes l18 {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }

  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }

  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }

  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }

  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.canvas {
  width: 100%;
  height: 100%;
}
