@use '@/styles/breakpoints';

$header-height-desktop: breakpoints.$header-height-desktop;
$header-height-mobile: breakpoints.$header-height-mobile;

.background {
  position: fixed;
  z-index: 99999;
  top: $header-height-desktop + 1px;
  left: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: calc(100vh - $header-height-desktop);

  background-color: var(--color-light);

  &::before,
  &::after {
    content: '';

    position: absolute;
    left: 0;

    width: 100%;
    height: 0;

    opacity: 0;
    background-color: black;

    transition: all ease-in-out 0.1s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (width <= breakpoints.$mobile) {
    top: $header-height-mobile + 1px;
    height: calc(100vh - $header-height-mobile);
  }
}

.animation {
  &::before,
  &::after {
    height: 50%;
    opacity: 1;
  }
}

.canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
