.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 80%;
  height: 200px;
}

.feedback {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;

  line-height: var(--line-height-xl);
  color: var(--color-placeholder) !important;
  text-align: center;
}
