@use '@/styles/breakpoints';

.label {
  margin-left: 4px;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);
  color: var(--color-dark);

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}

.disabled {
  opacity: 0.5;
}

.primary {
  color: var(--color-dark);
}

.secondary {
  color: var(--color-light);
}
