.page {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  min-width: fit-content;
}
