@use '@/styles/breakpoints';

.page {
  display: flex;
  flex-direction: column;
  gap: 32px;

  @media (width <= breakpoints.$mobile) {
    gap: 32px;
  }
}

.titleWithBackgroundWrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 64px;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 250px;
  padding: 32px;

  @media (width <= breakpoints.$mobile) {
    gap: 32px;
    justify-content: center;
    height: 200px;
  }
}

.titleWithBackgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  background-size: cover;
}

.titleWithBackgroundButton {
  opacity: 0.9;
}

.titleWithBackground {
  color: var(--color-light) !important;
  opacity: 0.9;
}
