@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

$height-input: 48px;
$height-textarea: 100px;
$padding: 12px;
$radius: 5px;

.input {
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: $height-input;
  padding: $padding;

  font-family: inherit;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);

  background-color: transparent;
  border: 1px solid var(--color-dark);
  border-radius: $radius;

  &::placeholder {
    color: var(--color-placeholder);
  }

  &:focus-visible {
    outline: 2px solid var(--color-info);
  }

  &:disabled {
    cursor: initial;
    opacity: 0.5;
  }
}

.textarea {
  min-height: $height-textarea;
}

.disableResize {
  resize: none;
}

.secondary {
  color: var(--color-light);
  background-color: var(--color-dark);
  border: 1px solid var(--color-light);

  &.disabled:hover {
    cursor: initial;
    color: var(--color-light);
    background-color: var(--color-dark);
  }
}

.primary {
  color: var(--color-dark);

  &.disabled:hover {
    cursor: initial;
    color: var(--color-dark);
    background-color: var(--color-light);
  }
}
