@use '@/styles/breakpoints';

.page {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;

  @media (width <= breakpoints.$mobile) {
    gap: 8px;
  }
}

.canvas {
  aspect-ratio: 1 / 1;
  max-width: 50%;

  @media (width <= breakpoints.$mobile) {
    max-width: 80%;
  }
}
