@use '@/styles/breakpoints';

$height-desktop: 48px;
$height-mobile: 40px;
$input-padding-desktop: 12px 30px 12px 12px;
$input-padding-mobile: 8px 30px 8px 8px;
$icon-size: 24px;
$button-padding: 2px;

.span {
  display: flex;
  align-items: center;

  height: fit-content;

  font-family: var(--font-family-primary), sans-serif;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);

  &:focus-visible {
    border-radius: 5px;
    outline: 2px solid var(--color-info);
  }

  @media (width <= breakpoints.$mobile) {
    height: $height-mobile;
    font-size: var(--font-size-xxs);
  }
}

.editIcon,
.closeIcon {
  width: $icon-size;
  height: $icon-size;
}

.closeButton {
  position: absolute;
  top: 12px;
  right: calc($icon-size);

  @media (width <= breakpoints.$mobile) {
    top: 8px;
    right: calc($icon-size - 8px);
  }
}

.form {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
  height: fit-content;
}

.input {
  padding: $input-padding-desktop;

  @media (width <= breakpoints.$mobile) {
    padding: $input-padding-mobile;
  }
}
