@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

.link {
  position: relative;

  display: flex;
  align-items: center;

  width: fit-content;
  height: fit-content;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info);
  }

  @include animations.bottom-line-hover;

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}

.activeLink {
  position: relative;
  width: fit-content;

  @include animations.bottom-line-hover;

  &.primary::before {
    width: 100% !important;
    background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 0%),
      rgb(0 0 0 / 75%),
      rgb(0 0 0 / 0%)
    ) !important;
  }

  &.secondary::before {
    width: 100% !important;
    background-image: linear-gradient(
      to right,
      rgb(255 255 255 / 0%),
      rgb(255 255 255 / 75%),
      rgb(255 255 255 / 0%)
    ) !important;
  }
}

.primary {
  color: var(--color-dark) !important;
}

.secondary {
  color: var(--color-light) !important;
}
