@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

.link {
  position: relative;

  display: flex;
  align-items: center;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xl);

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info);
  }

  @include animations.bottom-line-hover;

  @media (width <= breakpoints.$mobile) {
    font-size: var(--font-size-xxs);
  }
}

.activeLink {
  position: relative;
  width: fit-content;

  &::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 1px;

    background-color: var(--color-dark);
  }
}
