.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}
