.page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  justify-content: center;

  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.listItem {
  display: flex;
  align-items: center;
  vertical-align: center;
}
