@use '@/styles/breakpoints';
@use '@/styles/animations' as animations;

.page {
  gap: 32px;
  width: 100%;
}

.sortIcon {
  width: 12px;
  height: 12px;
  transition: transform 0.2s;
}

.sortIconDesc {
  transform: rotate(90deg);
}

.sortIconAsc {
  transform: rotate(270deg);
}

.filtersWrapper {
  position: relative;

  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 250px;
  padding: 32px;

  transition: all 0.2s;

  label {
    color: var(--color-light) !important;
  }

  @media (width <= breakpoints.$mobile) {
    gap: 8px;
    padding: 8px;
  }
}

.filtersWrapperCollapsed {
  height: 0;
  padding: 0;
  opacity: 0;
}

.filtersWrapperBackgroundImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  background-size: cover;

  @media (width <= breakpoints.$mobile) {
    left: 50%;
    transform: translateX(-50%);
  }
}

.posts {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  align-items: flex-start;
  justify-content: center;

  width: 100%;

  @media (width <= breakpoints.$mobile) {
    gap: 32px;
  }
}

.cardWrapper {
  position: relative;

  @media (width <= breakpoints.$mobile) {
    width: 100%;
  }
}

.userButtonsWrapper,
.adminButtonsWrapper {
  position: absolute;
  z-index: 99;

  display: flex;
  gap: 8px;

  padding: 8px;

  opacity: 0.7;
}

.adminButtonsWrapper {
  left: 0;

  button {
    border-color: var(--color-danger);

    @include animations.background-hover(var(--color-danger));
  }

  svg {
    color: var(--color-danger);

    &:hover {
      color: var(--color-light);
    }
  }
}

.userButtonsWrapper {
  right: 0;
}

.pagination {
  align-self: center;
  padding: 32px 32px 0;

  @media (width <= breakpoints.$mobile) {
    padding: 16px 16px 0;
  }
}
